<div *ngIf="!selectedCourse; else courseDetails">
  <div class="filter-container">
    <br>
    <label>Level:</label>
    <select [(ngModel)]="selectedLevel">
      <option value="all">All</option>
      <option value="Beginner">Beginner</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Advanced">Advanced</option>
    </select>

    <label> Duration:</label>
    <select [(ngModel)]="selectedDuration">
      <option value="all">All</option>
      <option value="Less Than 2 Hours">Less Than 2 Hours</option>
      <option value="1 Week">1 Week</option>
      <option value="2 Weeks">2 Weeks</option>
      <option value="1 Month">1 Month</option>
    </select>
  </div>
  
  <div class="courses-container">
    <h2>Available Courses</h2>
    <div class="course-grid">
      <div *ngFor="let course of courses | levelFilter:selectedLevel | durationFilter:selectedDuration" class="course-card">
        <img [src]="'assets/' + course.image" alt="{{ course.name }}">
        <h3>{{ course.name }}</h3>
        <p>{{ course.description }}</p>
        <p><strong>Level:</strong> {{ course.level }}</p>
        <p><strong>Duration:</strong> {{ course.duration }}</p>
        <button (click)="viewCourse(course)">View Course</button>
      </div>
    </div>
  </div>
</div>

<ng-template #courseDetails>
  <app-course-card [course]="selectedCourse" (back)="goBack()"></app-course-card>
</ng-template>
